*
  margin 0
  padding 0
  border 0
body
  margin 2em
  font-family Verdana, Geneva, sans-serif

h1
  color: orangered
  font-size: 250%
  text-align center
h2, h3
  text-align center
  color #444
  font-weight lighter


